<a href="https://colab.research.google.com/github/Fayaz-Khalid/Fayaz-Khalid/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Calculate surface area cylinder
r=3 # Radius
h=10 # Height
pi=3.14

Area = 2*pi*r**2 + 2*pi*r*h
print(Area)

244.92000000000002

In [ ]:
ans = input("Do you want to play a game (y or n): ")

while ans == "y":

  p1 = input ('p1 pick between rock, paper, and scissors: ')
  p2 = input ('p2 pick between rock, paper, and scissors: ')

  if p1 == p2:
    print("Draw")

  elif p1 == "scissors" and p2 == "paper":
    print("p1 wins")

  elif p1 == "scissors" and p2 == "rock":
    print("p2 wins")

  elif p1 == "rock" and p2 == "paper":
    print("p2 wins")

  elif p1 == "rock" and p2 == "scissors":
    print("p1 wins")

  elif p1 == "paper" and p2 == "rock":
    print("p1 wins")

  elif p1 == "paper" and p2 == "scissors":
    print("p2 wins")

  ans = input("Do you want to play a game (y or n): ")

Do you want to play a game (y or n): y
p1 pick between rock, paper, and scissors: scissors
p2 pick between rock, paper, and scissors: paper
p1 wins
Do you want to play a game (y or n): y
p1 pick between rock, paper, and scissors: paper
p2 pick between rock, paper, and scissors: rock
p1 wins
Do you want to play a game (y or n): n

In [ ]:
n1 = float(input("number 1: "))
n2 = float(input("number 2: "))
symbol = input("operation(+,-,*,/,**): ")


if symbol == "+" :
  ans = n1 + n2
  print(ans)

elif symbol == "-":
  ans = n1 - n2
  print(ans)

elif symbol == "*":
  ans = n1*n2
  print(ans)

elif symbol == "/":
  ans = (n1)/(n2)
  print(ans)

elif symbol == "**":
  ans = (n1)**(n2)
  print(ans)

number 1: 3
number 2: 4
operation(+,-,*,/,**): **
81.0

In [ ]:
flatRate = 5
hourlyRate = 2.5

for h in range(1,9) :
  charge = flatRate+hourlyRate*h
  if charge <10 :
    print (f"{h} 10")
  elif charge >20:
    print (f'{h} 20')
  else:
    print (h,charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
print("Ads Profit")
tprice = 10
fixedcost= 200

for ads in range (0,201,25):
  ATicket = 2*round(ads**.5)
  Profit = (ATicket + 20) * tprice - ads - fixedcost
  print(ads,Profit)

Ads Profit
0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
listing =[]

item = int(input("Provide Values: "))

while True:
  if item == 0:
    break
  else:
    listing.append(item)
    item = int(input("Provide Values: "))

print(listing)

Provide Values: 7
Provide Values: 5
Provide Values: 52
Provide Values: 21
Provide Values: 0
[7, 5, 52, 21]

In [ ]:
months ={}

names =["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for n in range(1,13):
  months[n]= names[n-1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
# assigment one 9_10
annual_salary = float(input("enter annual salary: "))
portion = float(input("enter portion saved: "))
total_cost = float(input("enter cost of house: "))

months = 0

while amount <= down_payment
  amount +=
  months +=

In [ ]:
# assignment two 9_10
semi_annual_raise = float(input("Enter your annual salary"))
semi_annual_rates =
while amount:
  months +=1
  if months % 6==0

  amount

In [ ]:
#assignment three 9_10 - BOOLEAN
def range_check (num,low,high):
  if num >= low and num <= high:
    return True
  else:
    return False

In [ ]:
print(range_check(2,1,3))

True

In [ ]:
def calcFee(hours):
  Fee = 5 + 2.50*(hours)
  return Fee

hours = int(input("Enter Hours Parked: "))

Fees = calcFee(hours)
print("Parking Fee:",Fees)

Enter Hours Parked: 7
Parking Fee: 22.5

In [ ]:
def calcFee(hours,decimals=2):
  Fee = 5 + 2.50*(hours)
  Fee = round(Fee,decimals)
  return Fee

def displayFee(Fees):
  print("Parking Fee: $ ",Fees)

hours = int(input("Enter Hours Parked: "))

Fees = calcFee(hours,decimals=2)
displayFee(Fees)

Enter Hours Parked: 4
Parking Fee: $  15.0

In [17]:
def Reversed1(s):
  if len(s) ==1:
    return s[0]
  else:
    return s[-1]+ Reversed1(s[:-1])

s=input("input: ")
Reversed1(s)

input: hello

'olleh'